/* * {
    border: 0.1px solid red;
} */

:root {
    --color1: rgba(127, 255, 212, 0);
    --color2: rgba(255, 228, 196, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'DecimaMonoX';
  src: url('fonts/DecimaMonoX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  min-height: 100%;
}


body {
    background: #d3e7eb;
    background: linear-gradient(0deg, rgb(232, 251, 255) 0%, rgba(255, 255, 255, 1) 100%);
    margin: 0;
    min-height: 100%;
}

.content {
    flex: 1;
    padding: 10px;

}

.allweb {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logotype {
    width: 150px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.button {
    font-family: 'DecimaMonoX';
    letter-spacing: -1px;
    font-size: 14px;
    text-decoration: none;
    color: black;

    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    white-space: nowrap;
    height: fit-content;
}


.button:hover {
    color: rgb(162, 162, 162);
}


.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 500px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px ;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-top: 30px;
    background-color: var(--color2);
    height: 100%;
}



.footer {
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: end;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    gap: 8px;
}


.card-img {
    width: 100%;
    height: 400px;
}

.card-img a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; /* на всякий случай */
}

.card-img img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;

}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 30px ;

}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-name {
    font-family: 'DecimaMonoX';
    letter-spacing: -1px;
    white-space: nowrap;
}

.card-price {
    font-family: 'DecimaMonoX';
    letter-spacing: -1px;
    white-space: nowrap;
}


@media (max-width: 768px) {

    .header {
        display: block;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: space-between;
        width: 100%;
        padding-top: 20px;
        gap: 6px;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px ;
        align-items: center;
    }

    .card-info {
        align-items: center;
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
  }

    
    
    .footer {
        font-size: 10px;
    }
}