/* * {
    border: 0.1px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'DecimaMonoX';
  src: url('fonts/DecimaMonoX.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    background-color: rgb(216, 216, 216);
    padding: 10px;
}

.logotype {
    width: 150px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.button {
    font-family: 'DecimaMonoX';
    letter-spacing: -1px;
    font-size: 14px;
    text-decoration: none;
    color: black;

    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    white-space: nowrap;
}


.button:hover {
    color: rgb(68, 68, 68);
}


.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 500px;
}


@media (max-width: 768px) {

    .header-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
    padding-top: 30px;
}

}