* {
    border: 0.1px solid #000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Header */

.logotype {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logotype img {
    width: 5vw;
    height: auto;
}

/* Header */


/* Catalog */

.catalog {
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    justify-content: center;
    font-size: 0.8vw;
}

/* Catalog */



/* Card */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

.card-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
    border-radius: 2vw;
}

.card-image img {
    width: 100%;
    height: fit-content;
    aspect-ratio: 1/1;
    border-radius: 1vw;
}

.card-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.add-button {
    background-color: #FF6822;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
    box-sizing: border-box;
    height: 100%; /* Устанавливаем высоту равной высоте родителя */
    aspect-ratio: 1; /* Сохраняем квадратную форму */
}

.add-button img {
    width: 50%;
}

.add-button:hover {
    cursor: pointer;
    background-color: #e65c1e;
}

.card-down {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0vw 10vw;
}

/* Card */











@media (max-width: 768px) {

    .logotype img {
        width: 15vw;
    }

    .catalog {
        grid-template-columns: repeat(1, 1fr);
        font-size: 2vw;
        gap: 5vw;
    }

    .add-button {
        height: 7vw;
        width: 7vw;
        border-radius: 7vw;
    }

    .add-button img {
        width: 4vw;
    }

    .card-down {
        padding: 0vw 20vw;
    }
}